doctype html
html
	head
		link(rel="stylesheet" href="../css/styles.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
		link(rel="icon" type="image/png" href="../images/favicon.png" sizes="32x32")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		meta(name="description" content="An unofficial, public JSON API for CodePen")
		title.
			CodePen v2 API
	body
		.wrap
			section.box
				h1 Oops.. my bad..
				p Error: #{message}
				p Go back 
					a(href="/") home? 