section.box
	footer
		p Built with 
			a(href="https://nodejs.org/en/") Node.js, 
			| on  
			a(href="https://heroku.com") Heroku. 
			| Inspired by Tim Pietrusky's  
			a(href="https://github.com/TimPietrusky/codepen-awesomepi") CodePen AwesomePI 
		p To my pen pals, with 
			span.heart ♥
			|  by 
			a(href="http://codepen.io/natewiley") Nate Wiley 
			| |  
			a(href="https://github.com/natewiley/cpv2api") view source on GitHub
| <script type="text/javascript">
include ../public/js/ga.js
| </script>