doctype html
html
	head
		link(rel="stylesheet" href="../css/styles.css")
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css')
		link(rel="icon" type="image/png" href="../images/favicon.png" sizes="32x32")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		
		meta(name="description" content="An unofficial, public JSON API for CodePen")
		title.
			CodePen v2 API
	body
		.wrap
			section.box
				h1 CodePen v2 API 
				p An unofficial, public JSON API for 
					a(href="http://codepen.io") CodePen



				h2 API Endpoints
				
				h3#pens Pens

				ul
					li 
						a(href="/pens/picks") /pens/picks
						p Get the latest picked pens
						
					li 
						a(href="/pens/popular") /pens/popular
						p Get the most popular pens
				
					li 
						a(href="/pens/recent") /pens/recent
						p Get recently created pens
				
				h3 Example Response
				p 
					code GET /pens/popular
					pre.
						{
						  "success": "true",
						  "data": [
						    {
						      "title": "Dynamic Image Colorizing with &lt;input type=&quot;color&quot;&gt;",
						      "details": "&lt;p&gt;Removes chrome from color input swatch and overlays over an image, using blend modes to colorize.  Voila!  Color changing without JS.&lt;/p&gt;",
						      "link": "http://codepen.io/noahblon/pen/ZbjmbK",
						      "id": "ZbjmbK",
						      "views": "17920",
						      "loves": "360",
						      "comments": "22",
						      "images": {
						          "small": "http://codepen.io/noahblon/pen/ZbjmbK/image/small.png",
						          "large": "http://codepen.io/noahblon/pen/ZbjmbK/image/large.png"
						      },
						      "user": {
						        "nicename": "Noah Blon",
						        "username": "noahblon",
						        "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/18515/profile/profile-80_3.jpg"
						      }
						    },
						    {
						      "title": "Skewed One Page Scroll",
						      "details": "",
						      "link": "http://codepen.io/suez/pen/gadLre",
						      "id": "gadLre",
						      "views": "4903",
						      "loves": "360",
						      "comments": "8",
						      "images": {
						          "small": "http://codepen.io/suez/pen/gadLre/image/small.png",
						          "large": "http://codepen.io/suez/pen/gadLre/image/large.png"
						      },
						      "user": {
						        "nicename": "Nikolay Talanov",
						        "username": "suez",
						        "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg"
						      }
						    },
								{
									...
								}

				p.text-center *** You can pass the  
					code page
					| parameter to paginate through results. Example: 
					code GET /pens/popular?page=2

				hr
				
				h3#pens-by-user Pens by User
				
				p Get Pens for a specfic user
				
				ul
					li 
						a(href="/pens/public/natewiley") /pens/public/natewiley
						p Get natewiley's public pens
						
					li 
						a(href="/pens/popular/tmrDevelops") /pens/popular/tmrDevelops
						p Get tmrDevelops's popular pens
				
					li 
						a(href="/pens/loved/chriscoyier") /pens/loved/chriscoyier
						p Get chriscoyier's loved pens
						
					li 
						a(href="/pens/forked/cathbailh") /pens/forked/cathbailh
						p Get cathbailh's forked pens

					li 
						a(href="/pens/showcase/MichaelArestad") /pens/showcase/MichaelArestad
						p Get MichaelArestad's showcase pens
						
						
				h3 Example Response
				p 
					code GET /pens/popular/tmrDevelops
					pre.
						{
							"success": "true",
							  "data": [
							    {
							      "title": "Verlet",
							      "details": "&lt;p&gt;I was trying to recreate the verlet effect on an SVG Polygon...but it has some boundary issues I need to work out.  Drag / throw the object; use the slider to change the number of points / object shape.  &lt;/p&gt;",
							      "link": "http://codepen.io/tmrDevelops/pen/MYVzMe",
							      "id": "MYVzMe",
							      "views": "22021",
							      "loves": "217",
							      "comments": "21",
							      "images": {
							          "small": "http://codepen.io/tmrDevelops/pen/MYVzMe/image/small.png",
							          "large": "http://codepen.io/tmrDevelops/pen/MYVzMe/image/large.png"
							      },
							      "user": {
							        "username": "tmrDevelops"
							      }
							    },
							    {
							      "title": "Galactic Orbitals",
							      "details": "&lt;p&gt;Galaxy clusters orbiting galaxy clusters, orbiting galaxy clusters...After a short while of orbiting, smaller clusters travel to the centers of larger galaxies &amp;&amp; connections are formed&lt;/p&gt;",
							      "link": "http://codepen.io/tmrDevelops/pen/PqQKzJ",
							      "id": "PqQKzJ",
							      "views": "19682",
							      "loves": "155",
							      "comments": "10",
							      "images": {
							          "small": "http://codepen.io/tmrDevelops/pen/PqQKzJ/image/small.png",
							          "large": "http://codepen.io/tmrDevelops/pen/PqQKzJ/image/large.png"
							      },
							      "user": {
							        "username": "tmrDevelops"
							      }
							    },
								{
									...
								},

				p.text-center *** You can pass the  
					code page
					| parameter to paginate through results. Example: 
					code GET /pens/popular/tmrDevelops?page=2

				hr

				h3#posts Blog Posts

				ul
					li 
						a(href="/posts/picks") /posts/picks
						p Get the latest picked posts
						
					li 
						a(href="/posts/popular") /posts/popular
						p Get the most popular posts
				
				
				h3 Example Response
				p 
					code GET /posts/popular
					pre.
						{
						  "success": "true",
						  "data": [
						    {
						      "title": "Show &amp; Tell Aboard The Queen Mary",
						      "content": "I hosted a <strong>Show &amp; Tell</strong> event at CSS Dev Conf 2015. It was in the style of most <a href=\"http://blog.codepen.io/meetups/\">CodePen Meetups</a> where we&apos;ve been encouraging that format, since it&apos;s been so much fun. boat 

						      Here&apos;s some of the things presented.

						      I kicked things off by talking about SVG type a bit. <a href=\"http://codepen.io/brenna/\">Brenna O&apos;Brien</a> talked about &quot;lockups&quot; in her talk the day before, so I thought we could expand on that concept a little bit by creating one ourselves.

						      A lockup is a typographic design. Words and letters are placed and styled very much...",
						      "link": "//codepen.io/chriscoyier/post/show-tell-aboard-the-queen-mary",
						      "views": "812",
						      "loves": "8",
						      "comments": "1",
						      "user": {
						        "nicename": "Chris Coyier",
						        "username": "chriscoyier",
						        "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/3/profile/profile-80_22.jpg"
						      }
						    },
						    {
						    	...
						    }

				p.text-center *** You can pass the  
					code page
					| parameter to paginate through results. Example: 
					code GET /posts/popular?page=2

				hr

				h3#posts-by-user Blog Posts by User
				
				p Get Posts for a specfic user
				
				ul
					li 
						a(href="/posts/published/towc") /posts/published/towc
						p Get towc's latest posts
						
					li 
						a(href="/posts/popular/pixelass") /posts/popular/pixelass
						p Get pixelass's popular posts
				
					li 
						a(href="/posts/loved/ImagineProgramming") /posts/loved/ImagineProgramming
						p Get ImagineProgramming's loved posts
						
						
				h3 Example Response
				p 
					code GET /posts/published/towc
					pre.
						{
						  "success": "true",
						  "data": [
						    {
						      "title": "Why do we recreate things?",
						      "content": "I can&apos;t really answer for everyone, but I do have some reasons for recreating wonderful art I see online, whether it&apos;s from codepen or not. 

						      <a href=\"http://codepen.io/collection/nmrjjY/\">Here is a collection of some of my recreations</a>

						      gets you thinking

						      I call most of my recreations &quot;codeblind&quot;, simply because I didn&apos;t take a look at the code required to do the original animations. When you do that you are forced to come up with your own algorithms or methods to get as similar of a result as you can. Maybe you see a pen and you just think...",
						      "link": "//codepen.io/towc/post/why-do-we-recreate-things",
						      "views": "336",
						      "loves": "7",
						      "comments": "0",
						      "user": {
						        "username": "towc"
						      }
						    },
						    {
						    	...
						    },

				p.text-center *** You can pass the  
					code page
					| parameter to paginate through results. Example: 
					code GET /posts/published/towc?page=2
				
				hr

				h3#collections Collections
				
				p Get a collection by ID
				
				ul
					li 
						a(href="/collection/AdbzyJ") /collection/AdbzyJ
						p Get maicode's #Codevember collection
						
						
				h3 Example Response
				p 
					code GET /collection/AdbzyJ
					pre.
						{
						  "success": "true",
						  "data": [
						    {
						      "title": "Codevember Day 10",
						      "details": "<p>Ele love &lt;3</p>",
						      "link": "http://codepen.io/maicodes/pen/KdrmjL",
						      "id": "KdrmjL",
						      "views": "461",
						      "loves": "14",
						      "comments": "2",
						      "images": {
						        "small": "http://codepen.io/maicodes/pen/KdrmjL/image/small.png",
						        "large": "http://codepen.io/maicodes/pen/KdrmjL/image/large.png"
						      },
						      "user": {
						        "nicename": "Mai El-Awini",
						        "username": "maicodes",
						        "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/290528/profile/profile-80_2.jpg"
						      }
						    },
						    {
						      "title": "Codevember Day 9",
						      "details": "<p>&lt;3 my pen pals\nExperimenting with  <a href=\"http://codepen.io/natewiley/\">Nate Wiley</a>&apos;s new API. </p>",
						      "link": "http://codepen.io/maicodes/pen/EVOYWY",
						      "id": "EVOYWY",
						      "views": "156",
						      "loves": "6",
						      "comments": "2",
						      "images": {
						        "small": "http://codepen.io/maicodes/pen/EVOYWY/image/small.png",
						        "large": "http://codepen.io/maicodes/pen/EVOYWY/image/large.png"
						      },
						      "user": {
						        "nicename": "Mai El-Awini",
						        "username": "maicodes",
						        "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/290528/profile/profile-80_2.jpg"
						      }
						    },
						    {
						    	...
						    },

				p.text-center *** You can pass the  
					code page
					| parameter to paginate through results. Example: 
					code GET /collection/AdbzyJ?page=2
				
				hr


				h3#followers Followers / Following

				p Get followers / following data by user.

				ul
					li 
						a(href="/followers/pixelass") /followers/pixelass
						p Get pixelass's followers

					li 
						a(href="/following/seanseansean") /following/seanseansean
						p Get users that seanseansean is following

				h3 Example Response
				p 
					code GET /followers/pixelass
					pre.
						{
						  "success": "true",
						  "data": [
						    {
						      "nicename": "Keith Wyland",
						      "username": "keithwyland",
						      "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/358/profile/profile-80_2.jpg",
						      "url": "http://codepen.io/keithwyland"
						    },
						    {
						      "nicename": "Akopczewski",
						      "username": "akopcz2",
						      "avatar": "//gravatar.com/avatar/fd0b85fdcc8b3ea17f837d748f901995?s=80",
						      "url": "http://codepen.io/akopcz2"
						    },
						    {
						      "nicename": "Mario Luevanos",
						      "username": "marioluevanos",
						      "avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/39132/profile/profile-80_1.jpg",
						      "url": "http://codepen.io/marioluevanos"
						    },
						    {
						      ...
						    },

				p.text-center *** You can pass the  
					code page
					| parameter, example: 
					code GET /followers/pixelass?page=2		    

				hr

				h3#profiles User Profiles
				
				p Get profile data for a specific user
				
				ul
					li 
						a(href="/profile/jackrugile") /profile/jackrugile
						p Get jackrugile's info
				
				h3 Example Response
				
				code GET /profile/jackrugile
					
				pre.
					
					{
						"success": "true",
						"data": {
							"nicename": "Jack Rugile",
							"username": "jackrugile",
							"avatar": "//s3-us-west-2.amazonaws.com/s.cdpn.io/836/profile/profile-512_4.jpg",
							"location": "Denver, CO",
							"bio": "",
							"pro": true,
							"followers": "849",
							"following": "178",
							"links": [
								"https://github.com/jackrugile",
								"http://jackrugile.com",
								"http://twitter.com/jackrugile"
							]
						}
					}

				hr

				h2 Example Usage

				p Simple example of getting the popular pens with jQuery's 
					code .getJSON()

				pre.
					$.getJSON("http://cpv2api.com/pens/popular", function(resp){
						if(resp.success){
							console.log(resp.data);
							// do something awesome
						}
					});

			
			include footer.jade						 